{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h3>Log In</h3>
  </div>
  <form action='' method='post'>
    {{ form.hidden_tag() }}
    Nickname: {{ form.username }}<br>
    Password: {{ form.password }}
    <input type='submit' value='Login'/>
  </form>

  {% for player in players %}
    {{ player.name }} <button class="algo" value='{{ player.name }}'> - </button>
  {% endfor %}

  <a href="{{ url_for('index') }}">Exit</a>
</div>
{% endblock %}