{% extends 'base.html' %}
{% block content %}

 <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; 

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('my response', function(msg) {
                $('#log').append($('<div/>').text(msg.data + ' by ' + msg.player).html());
                $('#log2').append($('<div/>').text("It's " + msg.turn + ' turn').html());
            });
        });
    </script>

{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
		      {% for message in messages %}
            <li>{{ message }} </li>
    	    {% endfor %}
      </ul>
    {% endif %}
{% endwith %}
<h3>This are the cards:</h3>
{% set hand = current_user.hand(game) %}
{% for card in hand %}
	<a href="{{ url_for('play', card=hand.index(card)) }}">{{ game.show_card(card) }}</a><br>
{% endfor %}

<h3>Last card played was:</h3>

{% if game.last_card_played %}
	<div id="log">{{ game.show_card(game.last_card_played) }} by {{ game.last_player.player }}</div><br>
  <div id="log2">It's {{ game.act_player.player }} turn</div>
{% else %}
  Waiting for the first player
{% endif %}
<div id='log'></div>
<div id='log2'></div>

<h3><a href="{{ url_for('draw') }}">Draw a Card</a></h3>

Sota < Copa < Moneda < Espada<br>
Principe < Caballo < Rey < 2

{% endblock %}